{% extends 'workout_app/base.html' %} {% block content %}

<div class="container-fluid">
  <!-- Modal for Creating Workout -->
  <div
    class="modal fade"
    id="create-workout-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="create-workout-modalLabel"
    aria-modal="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h5 class="modal-title w-100" id="create-workout-modalLabel">
            Choose Workout Level
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <!-- Dropdown for Experience Level -->
          <div class="dropdown mb-3 text-center">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Experience Level:
            </button>
            <ul class="dropdown-menu">
              <li>
                <a
                  class="dropdown-item"
                  hx-get="/experience-level/beginner/"
                  hx-target="#partial-container"
                  hx-swap="outerHTML"
                  >Beginner</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  hx-get="/experience-level/intermediate/"
                  hx-target="#partial-container"
                  hx-swap="outerHTML"
                  >Intermediate</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  hx-get="/experience-level/advanced/"
                  hx-target="#partial-container"
                  hx-swap="outerHTML"
                  >Advanced</a
                >
              </li>
            </ul>
          </div>

          <!-- HTMX Partial Render -->
          <div id="partial-container"></div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row g-3 mb-4 d-flex align-items-stretch">
    <div class="col-4">
      <!-- Sidebar Container (Left) -->
      <nav id="sidebarWorkout" class="d-md-block sidebar">
        <div class="position-sticky mt-4">
          <button
            class="btn btn-primary"
            id="sidebarToggle"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseSidebar"
            aria-expanded="true"
            aria-controls="collapseSidebar"
          >
            Toggle Workout List
          </button>
          <div class="col-4 col-sm-4 text-center flex-fill">
            <button
              class="btn btn-success btn-lg mb-3"
              data-bs-toggle="modal"
              data-bs-target="#create-workout-modal"
              id="workout_actions"
            >
              Create Workout
            </button>
          <div class="collapse show" id="collapseSidebar">
            <br>

            <!-- Selected Exercises -->
          <div class = "container p-3" style="background-color:#3E9B96; border-radius:20px">
            <div class="mb-4">
              <h3>Selected Warm-Ups</h3>
              <div class="list-group">
                {% for warm_up in selected_wu %}
                <label class="list-group-item">{{ warm_up }}</label>
                {% endfor %}
              </div>
            </div>
            <div class="mb-4">
              <h3>Selected Exercises</h3>
              <div class="list-group">
                {% for exercise in selected_ex %}
                <label class="list-group-item">{{ exercise }}</label>
                {% endfor %}
              </div>
            </div>

            <!-- Selected Warm-Ups -->

            <!-- Selected Cooldowns -->
            <div class="mb-4">
              <h3>Selected Cooldowns</h3>
              <div class="list-group">
                {% for cooldown in selected_cd %}
                <label class="list-group-item">{{ cooldown }}</label>
                {% endfor %}
              </div>
            </div>
            </div>
          </div>
        </div>
      </nav>
    </div>



    <!-- Stats and Buttons Container (Right) -->
    <div class="col-2 mt-2 p-2">
      <div class="sidebar text-align-center p-2 mb-2" id="sidebarTimer">
        <div class="text-center">
          <button class="btn btn-secondary mb-2" id="toggleTimerBtn">
            Start Timer
          </button>
          <button
            class="btn btn-danger mb-2"
            id="stopTimerBtn"
            style="display: none"
          >
            Stop Timer
          </button>
          <div class="timer" id="timer">
            Timer: <span id="timer-display">00:00:00</span>
          </div>
        </div>
      </div>

      </div>
      <div class="row mt-5 d-flex justify-content-center gap-3">
        <div class="col-4 col-sm-4 text-center flex-fill">
          <button
            class="btn btn-success btn-lg mb-3"
            data-bs-toggle="modal"
            data-bs-target="#create-workout-modal"
            id="workout_actions"
          >
            Create Workout
          </button>
        </div>
        <div class="col-4 col-sm-4 text-center flex-fill">
          <button
            class="btn btn-success btn-lg mb-3"
            id="workout_actions"
            style="white-space: normal"
          >
            Complete Set
          </button>
        </div>
      </div>

      <div class="row d-flex justify-content-center gap-3">
        <div class="col-4 col-sm-4 text-center flex-fill">
          <button class="btn btn-success btn-lg mb-3" id="workout_actions">
            Modify Workout
          </button>
        </div>
        <div class="col-4 col-sm-4 text-center flex-fill">
          <button class="btn btn-success btn-lg mb-3" id="workout_actions">
            Complete Workout
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // timer.js
  document.addEventListener("DOMContentLoaded", function () {
    let timerDisplay = document
      .getElementById("sidebarTimer")
      .querySelector("#timer-display");
    let toggleTimerBtn = document.getElementById("toggleTimerBtn");
    let stopTimerBtn = document.getElementById("stopTimerBtn");
    let seconds = 0;
    let timerInterval;

    // Function to start the timer
    function startTimer() {
      timerInterval = setInterval(function () {
        seconds++;
        let hours = Math.floor(seconds / 3600);
        let minutes = Math.floor((seconds % 3600) / 60);
        let secs = seconds % 60;
        timerDisplay.textContent = `${String(hours).padStart(2, "0")}:${String(
          minutes
        ).padStart(2, "0")}:${String(secs).padStart(2, "0")}`;
      }, 1000);

      toggleTimerBtn.style.display = "none"; // Hide Start Timer button
      stopTimerBtn.style.display = "inline-block"; // Show Stop Timer button
    }

    // Function to stop the timer
    function stopTimer() {
      clearInterval(timerInterval);
      timerInterval = null; // Reset timer interval
      toggleTimerBtn.style.display = "inline-block"; // Show Start Timer button
      stopTimerBtn.style.display = "none"; // Hide Stop Timer button
    }

    // Event listener for the button to start the timer
    toggleTimerBtn.addEventListener("click", function () {
      if (!timerInterval) {
        startTimer();
      }
    });

    // Event listener for the button to stop the timer
    stopTimerBtn.addEventListener("click", stopTimer);
  });
</script>

{% endblock %}
